.entry {

    &__row {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
    }
    
    &__backdrop {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: url('/resources/img/kindergarten.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: grayscale(1) brightness(0.6);
    }
    
    &__title {
        position: relative;
        font-size: 70px;
        text-align: center;
        margin: 0;
        color: white;
    }

    &__amount {
        position: relative;
        font-size: 40px;
        text-align: center;
        color: white;
    }

    &__search-form {
        position: relative;
        margin: -25px auto 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    &__search-input {
        height: 64px;
        font-size: 22px;
        padding: 20px 32px;
        width: 100%;
        border-radius: 10px;
        border: none;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
    }
}